<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="credits-gitlab-read" value="https://gitlab.credits.de/api/v4/groups/9/-/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <credits-gitlab-read>
            <add key="Username" value="read_packages" />
            <add key="ClearTextPassword" value="" />
        </credits-gitlab-read>
    </packageSourceCredentials>
</configuration>
